<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- jQuery -->
  <script src="/public/javascripts/jquery-3.6.1.min.js"></script>
  <!-- Bootstrap css-->
  <link rel="stylesheet" type="text/css" href="/public/stylesheets/bootstrap-5.0.2/bootstrap.min.css">
  <script src="/public/javascripts/bootstrap-5.0.2/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/public/stylesheets/style.css">
  <style>
    body {
      background-color: gainsboro;
    }
  </style>
  <title>
    <%= cid %>
  </title>
</head>

<body>
  <div class="iframe-container my-5 border">
  </div>
</body>
<script>
  const userID = "<%= id %>";
  const cid = "<%= cid %>";
</script>
<script src="/public/javascripts/file.js"></script>

</html>