<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- jQuery -->
    <script src="/public/javascripts/jquery-3.6.1.min.js"></script>
    <!-- jQuery UI-->
    <script type="text/javascript" src="/public/javascripts/jquery-ui-1.12.0.min.js"></script>
    <link rel="stylesheet" href="/public/stylesheets/jquery-ui-1.12.0.css">
    <!-- jQuery longress-->
    <script src="/public/javascripts/jquery.longpress.js"></script>
    <!-- Bootstrap css-->
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/bootstrap-5.0.2/bootstrap.min.css">
    <script src="/public/javascripts/bootstrap-5.0.2/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/bootstrap-icons-1.8.0.css">
    <!-- tablesorter-->
    <script src="/public/javascripts/tablesorter-2.31.0.js"></script>
    <style>
        .table {
            user-select: none;
        }
        .file {
            cursor: pointer;
            cursor: hand;
        }
        .dir {
            cursor: pointer;
            cursor: hand;
        }
        .file-menu .dropdown-toggle::after {
            display: none;
        }
        .table-radius {
            border: 1px solid;
            border-radius: 5px;
            border-spacing: 0;
            border-collapse: separate;
            padding-right: 0;
            padding-left: 0;
        }
        .table-radius tr:last-child td {
        border-bottom: none;
        }
    </style>
    <title>IPFS</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">IPFS</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                <a class="nav-link" href="/register">新規登録</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/login">ログイン</a>
                </li>
            </ul>
            </div>
        </div>
    </nav>
    <div class="container my-5 p-5 border rounded">
        <h2 class="pb-4" id="id" style="user-select: none"><%= id %></h2>
        <div class="loader" style="text-align: center;">
            <div class="d-flex justify-content-center">
                <div class="spinner-border" role="status"></div>
            </div>
            <div>
                <strong>Loading...</strong>
            </div>
        </div>
        <div class="contents" style="display: none">
            <div class="row">
                <div class="col-9 text-break">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page">
                                <a href="/user/<%= id %>">home</a>
                                <a id="path"></a>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-3">
                    <ul class="nav justify-content-end">
                        <li class="nav-item"> 
                            <!-- Button trigger modal -->
                            <button type="button"  id="remove-btn" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#remove-confirm" style="display: none;">
                                削除
                            </button>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false"></a>
                            <ul class="dropdown-menu">
                            <li>
                                <label class="dropdown-item">
                                    ファイルを追加
                                    <input type="file" class="dropdown-item" id="add-file" name="add-file" hidden/>
                                </label>
                            </li>
                            <li>
                                <label class="dropdown-item" id="add-dir">
                                    ディレクトリを追加
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#input-dir-name" hidden></button>
                                </label>
                            </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <hr>
                <div class="col-12">
                    <div class="drop-area">
                        <table class="table table-sm table-hover table-radius" id="content-list">
                            <thead style="background-color: rgb(32, 32, 32); color: aliceblue;">
                                <tr>
                                    <th class="th-sm text-center" style="width: 5%"></th>
                                    <th class="th-sm" style="width:5%"></th>
                                    <th class="th-sm" style="width: 85%">ファイル名</th>
                                    <th class="th-sm" style="width: 5%"></th>
                                </tr>
                            </thead>
                            <tbody class="files">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
    <!-- ディレクトリ作成 Modal -->
    <div class="modal fade" id="input-dir-name" tabindex="-1" aria-labelledby="input-dir-name" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="input-dir-name">ディレクトリ作成</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="dir" class="col-form-label">ディレクトリ名</label>
                            <input type="text" class="form-control" id="dir-name" autocomplete="off">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
                    <button type="button" class="btn btn-primary" id="make-dir">作成</button>
                </div>
            </div>
        </div>
    </div>
    
    <!-- ファイル削除 Modal -->
    <div class="modal fade" id="remove-confirm" tabindex="-1" aria-labelledby="remove-confirm" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="remove-confirm">削除</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            選択した項目を削除しますか？
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
                    <button type="button" class="btn btn-danger" id="remove">削除</button>
                </div>
            </div>
        </div>
    </div>

    <!-- ファイル共有 Modal -->
    <div class="modal fade" id="file-share" tabindex="-1" aria-labelledby="file-share" aria-hidden="true" data-bs-backdrop="static">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="file-share">ファイル共有</h5>
                    <h1 id="modal-cid" hidden></h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="dir" class="col-form-label">共有相手（ID）</label>
                            <input type="text" class="form-control" id="dir-name" autocomplete="off">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
                    <button type="button" class="btn btn-primary" id="share">共有</button>
                </div>
            </div>
        </div>
    </div>

</body>
<script>
    const userID = "<%= id %>";
    const data = JSON.parse('<%- JSON.stringify(data) %>');
</script>
<script src ="/public/javascripts/user.js"></script>
</html>