<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- ipfs-core -->
    <script src="https://cdn.jsdelivr.net/npm/ipfs-core/dist/index.min.js"></script>
    <!-- jQuery -->
    <script src="/public/javascripts/jquery-3.6.1.min.js"></script>
    <!-- Bootstrap css-->
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/bootstrap-5.0.2/bootstrap.min.css">
    <script src="/public/javascripts/bootstrap-5.0.2/bootstrap.bundle.min.js"></script>
    <style>
        .checkbox {
            font-size: 16px;
            display: flex;
            align-items: center;
        }
    </style>
    <title>IPFS</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">IPFS</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                <a class="nav-link" href="/register">新規登録</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/login">ログイン</a>
                </li>
            </ul>
            </div>
        </div>
    </nav>
    <div class="container my-5 p-5 border rounded">
        <h2 class="pb-4" id="id"><%= id %></h2>
        <div class="loader" style="text-align: center;">
            <img src="/public/images/img-loading.gif" width="40" height="40" alt="Now Loading..." />
            <p>Now Loading...</p>
        </div>
        <div class="contents" style="display: none">
            <!-- display none-->
            <div class="row p-2 border">
                <div class="col-9">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page">
                                <a href="/user/<%= id %>">home</a>
                                <a id="path"></a>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-3">
                    <ul class="nav justify-content-end">
                        <li class="nav-item" id="remove-btn"> 
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#remove-confirm" style="display: none;">
                                削除
                            </button>
                        </li>
                        <li class="nav-item">

                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false"></a>
                            <ul class="dropdown-menu">
                            <li>
                                <label class="dropdown-item">
                                    ファイルを追加
                                    <input type="file" class="dropdown-item" id="add-file" name="add-file" hidden/>
                                </label>
                            </li>
                            <li>
                                <label class="dropdown-item" id="add-dir">
                                ディレクトリを追加
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#input-dir-name" hidden></button>
                                </label>
                            </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <hr>
                <div class="col-12">
                    <table class="table table-hover">
                        <tbody class="files">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
  
    <!-- ディレクトリ作成 Modal -->
    <div class="modal fade" id="input-dir-name" tabindex="-1" aria-labelledby="input-dir-name" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="input-dir-name">ディレクトリ作成</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="dir" class="col-form-label">ディレクトリ名</label>
                            <input type="text" class="form-control" id="dir-name">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
                    <button type="button" class="btn btn-primary" id="make-dir">作成</button>
                </div>
            </div>
        </div>
    </div>
    </body>
    
    <!-- ファイル削除 Modal -->
    <div class="modal fade" id="remove-confirm" tabindex="-1" aria-labelledby="remove-confirm" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="remove-confirm">削除</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            選択した項目を削除しますか？
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
                    <button type="button" class="btn btn-danger" id="remove">削除</button>
                </div>
            </div>
        </div>
    </div>

</body>
<script>
    const userID = "<%= id %>";
    const data = JSON.parse('<%- JSON.stringify(data) %>');
</script>
<script src ="/public/javascripts/user.js"></script>
</html>