body {
  user-select: none;
}

.id {
  padding-left: 30px;
  padding-right: 30px;
  height: 60px;
}

.file, .dir {
  cursor: pointer;
  cursor: hand;
}

.file-menu .dropdown-toggle::after,
.id .dropdown-toggle::after {
  display: none;
}

.table-radius {
  border: 1px solid;
  border-radius: 5px;
  border-spacing: 0;
  border-collapse: separate;
  padding-right: 0;
  padding-left: 0;
}

.table-radius tr:last-child td {
  border-bottom: none;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_desc:before {
  left: 70px;
}

td.dataTables_empty {
  color: gray;
}

.iframe-container {
  position: relative;
  background-color: white;
  padding-bottom: 56.25%;
  padding-top: 35px;
  height: auto;
  width: auto;
  overflow: hidden;
}

.iframe-container iframe {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.emphasized {
  background-color: rgba(152, 104, 230, 0.486);
}